body {
    background-color: aliceblue;
    font-family: Poppins,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 40px;
    font-weight: 900;
    color: rgb(65, 65, 85);
}

